<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1">

  {% if page.istagpage %}
  <meta name="robots" content="noindex, noarchive">
  {% endif %}

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.tagline }}{% endif %}</title>
  {% if page.description %}
    <meta name="Description" content="{{ page.description }}">
  {% else %}
    <meta name="Description" content="{{ site.meta_description }}">
  {% endif %}
  <meta name="Keywords" content="{% if page.tags %}{{ page.tags | join: ', ' }}, {% endif %}{{ site.meta_tags | join: ', ' }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/public/favicon.png">

  <style>
  {% capture include_to_scssify %}
    {% include styles.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>
