@import 'bourbon/bourbon';
@import 'syntax-highlighting';

$grey-color:       #828282;

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }

    :hover {
      text-decoration: none;
    }
}

amp-img {
  background-color: grey;
}

.cf {
  @include clearfix;
}

$rs: 16px;

$font-serif: Georgia,Cambria,"Times New Roman",Times,'Lora', serif;
$font-sans: "Helvetica Neue", 'Open Sans', Arial, Helvetica, sans-serif;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

// Only needed for syntax highlighting
%vertical-rhythm {
  margin-bottom: $rs;
}

main {
  display: block;
}

body {
  background-color: #fff;
  font-family: $font-sans;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.site-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 16px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }

  .page-links {
      display: block;
      position: absolute;
      top: 10px;
      right: $rs;
      font-weight: 200;
      font-style: normal;
      font-size: 18px;
      line-height: 30px;

      a {
        text-decoration: none;
        color: #999999;
        &:hover {
          color: #333333;
        }
      }
  }

}

.blog-header {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  @include box-sizing(border-box);

  .blog-title {
    margin-bottom: 8px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333333;
  }
  .blog-description {
    font-size: 28px;
    margin: 0 0 20px;
    padding: 0;
    line-height: 1.2;
    color: #666666;
    font-weight: 300;
  }
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 25px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }

  article {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f0;
    &:last-child {
      border-bottom: 0px;
    }
    .post-title {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      display: block;
      font-size: 36px;
      line-height: 1.15;
      margin: 0 0;
      a {
        text-decoration: none;
        color: #333332;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .post-excerpt {
      font-family: $font-serif;
      letter-spacing: -0.02em;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
      line-height: 1.59;
      color: #666665;
    }
    .post-meta {
      font-size: 14px;
      color: #b3b3b1;
      line-height: 30px;
      a {
        color: #b3b3b1;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.post-template .content {
  max-width: 700px;
}

.index-headline {
  border-top: 1px solid #dededc;
  margin: 0;
  padding: 16px 0;
  span {
    color: #b3b3b1;
    font-size: $rs / 8 * 5;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.pagination {
  text-align: center;
  padding: $rs * 1 0 0;
  font-size: $rs / 4 * 3;
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}

.site-footer {
  margin: 0 auto;
  padding: $rs * 3 0;
  width: 100%;
  max-width: 700px;
  font-size: $rs / 4 * 3;
  text-align: center;
  color: #999999;
  line-height: $rs * 1.1;
  a {
    color: #666666;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}

.post {
  .post-meta {
    font-family: $font-sans;
  }
  .post-title {
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.04em;
    font-size: 50px;
    line-height: 1.1;
    color: #333332;
    margin-bottom: 50px;
  }
  .author-image {
    background-image: url({{ site.baseurl }}{{site.author_image}});
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left;
    background-size: cover;
    border-radius: 100%;
    text-indent: -9999px;
  }
  .post-meta-text {
    color: #b3b3b1;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    overflow: hidden;
    font-family: $font-sans;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .post-content {
    width: 100%;
    font-family: $font-serif;
    color: #333333;
    h1, h2, h3 {
      font-family: $font-sans;
    }
    h3, h4, h5, h6 {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      font-size: 24px;
      line-height: 1.3;
      margin-top: 50px;
      margin-bottom: 0px;
      font-family: $font-sans;
    }
    h3 {
      font-size: 22px;
    }
    h2, h1 {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      font-size: 30px;
      line-height: 1.2;
      margin-top: 50px;
      margin-bottom: 0px;
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
      padding: 5px;
      text-align:left;
    }
    p {
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      line-height: 1.59;
      letter-spacing: -.002em;
      margin-top: 30px;
      margin-bottom: 0;
      color: #333333;
    }
    a {
      color: #333333;
      text-decoration: underline;
    }
    amp-img, amp-youtube {
      margin-top: 30px;
    }
    figure {
      margin: 0;
      padding: 0;
    }
    figcaption {
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      line-height: 1.3;
      color: #666665;
      outline: 0;
      z-index: 300;
      text-align: center;
    }
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 30px auto;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    blockquote {
      margin: 0 0 30px;
      margin-left: -26px;
      border-left: 3px solid #57ad68;
      padding-left: 20px;
      p {
        letter-spacing: 0.01rem;
        font-weight: 400;
        mborder-left: 3px solid #57ad68;
        mpadding-left: 20px;
        mmargin-left: -26px;
        padding-bottom: 3px;
      }
    }
    ul, ol {
      padding: 0;
      margin: 15px 0 0 0;
    }
    li {
      padding: 0;
      font-weight: 400;
      font-style: normal;
      font-size: 23px;
      line-height: 30px;
      margin-left: 30px;
      margin-bottom: 12px;
      padding-top: 2px;
      p {
        padding: 0 0 golden-ratio(1rem, 1);
      }
    }
    ol li {
      list-style-type: decimal;
    }
  }
  .bottom-teaser {
    padding: 50px 0 0 0;
    font-family: $font-sans;
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 16px 0 16px 100px;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    .isLeft {
      float: left;
      width: 47%;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
        padding-bottom: $rs * 2;
      }
      .bio {
        margin-top: 18px;
        margin-bottom: 18px;
      }
      .username {
        margin-left: 4px;
        margin-right: 18px;
        margin-bottom: 18px;
      }
      .index-headline {
        padding-bottom: 32px;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #333333;
          text-decoration: underline;
        }
      }
      .author-image {
        display: block;
        width: 80px;
        height: 80px;
        float: left;
        background-size: cover;
        border-radius: 100%;
        text-indent: -9999px;
      }
      h4 {
        font-size: 18px;
        line-height: 1.1;
        font-weight: 700;
        padding: 0;
        margin: 0;
        padding-left: 100px;
      }
      p {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-left: 100px;
        &.published {
          color: #999999;
        }
      }
    }
    .isRight {
      float: right;
      width: 47%;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
      }

      .index-headline {
        padding-bottom: 32px;
      }
      .site-footer {
        margin: 0;
        padding: 0;
        color: #333333;
        text-align: left;
        font-size: 14px;
        line-height: 1.3;
        color: #999999;
        a {
          color: #333333;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .poweredby {
          display: block;
          padding-bottom: 18px;
          font-weight: 700;
          color: #333333;
        }
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.share {
  text-align: right;
  padding: 20px 0 0;
  a {
    text-decoration: none;
    color: #bbbbbb;
    padding-left: 12px;
    .hidden {
      display: none;
    }
    &:hover {
      color: #333333;
    }
  }
}


pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.pagination .disabled {
    opacity: 0;
}

.logo-placeholder {
  width: 40px;
  height: 40px;
}

blockquote {
  margin-top: 30px;
  margin-left: 0 !important;
  p {
    margin-top: 0;
  }
}

// thanks to dark reader!

html {
  background-color: #181a1b !important;
}
html, body, input, textarea, select, button {
  background-color: #181a1b;
}
html, body, input, textarea, select, button {
  border-color: #575757;
  color: #e8e6e3;
}
a {
  color: #3391ff;
}
table {
  border-color: #4c4c4c;
}
::placeholder {
  color: #bab5ab;
}
::selection {
  background-color: #005ccc;
  color: #ffffff;
}
::-moz-selection {
  background-color: #005ccc;
  color: #ffffff;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #545b00 !important;
  color: #e8e6e3 !important;
}

.jfk-bubble {
  background-color: #000000 !important;
}
.vimvixen-hint {
  background-color: #7b5300 !important;
  border-color: #d8b013 !important;
  color: #f3e8c8 !important;
}

.highlight { background-image: initial; background-color: rgb(24, 26, 27); }
.highlighter-rouge .highlight { background-image: initial; background-color: rgb(29, 31, 32); }
.highlight .c { color: rgb(184, 179, 169); }
.highlight .err { color: rgb(236, 119, 119); background-color: rgb(48, 30, 30); }
.highlight .cm { color: rgb(184, 179, 169); }
.highlight .cp { color: rgb(186, 181, 171); }
.highlight .c1 { color: rgb(184, 179, 169); }
.highlight .cs { color: rgb(186, 181, 171); }
.highlight .gd { color: rgb(232, 230, 227); background-color: rgb(71, 0, 0); }
.highlight .gd .x { color: rgb(232, 230, 227); background-color: rgb(102, 0, 0); }
.highlight .gr { color: rgb(255, 102, 102); }
.highlight .gh { color: rgb(186, 181, 171); }
.highlight .gi { color: rgb(232, 230, 227); background-color: rgb(0, 71, 0); }
.highlight .gi .x { color: rgb(232, 230, 227); background-color: rgb(0, 102, 0); }
.highlight .go { color: rgb(186, 181, 171); }
.highlight .gp { color: rgb(201, 197, 190); }
.highlight .gu { color: rgb(186, 181, 171); }
.highlight .gt { color: rgb(255, 102, 102); }
.highlight .kt { color: rgb(158, 180, 206); }
.highlight .m { color: rgb(112, 255, 255); }
.highlight .s { color: rgb(242, 81, 121); }
.highlight .na { color: rgb(127, 255, 255); }
.highlight .nb { color: rgb(97, 215, 255); }
.highlight .nc { color: rgb(158, 180, 206); }
.highlight .no { color: rgb(127, 255, 255); }
.highlight .ni { color: rgb(255, 127, 255); }
.highlight .ne { color: rgb(255, 112, 112); }
.highlight .nf { color: rgb(255, 112, 112); }
.highlight .nn { color: rgb(201, 197, 190); }
.highlight .nt { color: rgb(127, 174, 255); }
.highlight .nv { color: rgb(127, 255, 255); }
.highlight .w { color: rgb(194, 189, 180); }
.highlight .mf { color: rgb(112, 255, 255); }
.highlight .mh { color: rgb(112, 255, 255); }
.highlight .mi { color: rgb(112, 255, 255); }
.highlight .mo { color: rgb(112, 255, 255); }
.highlight .sb { color: rgb(242, 81, 121); }
.highlight .sc { color: rgb(242, 81, 121); }
.highlight .sd { color: rgb(242, 81, 121); }
.highlight .s2 { color: rgb(242, 81, 121); }
.highlight .se { color: rgb(242, 81, 121); }
.highlight .sh { color: rgb(242, 81, 121); }
.highlight .si { color: rgb(242, 81, 121); }
.highlight .sx { color: rgb(242, 81, 121); }
.highlight .sr { color: rgb(112, 255, 148); }
.highlight .s1 { color: rgb(242, 81, 121); }
.highlight .ss { color: rgb(255, 112, 220); }
.highlight .bp { color: rgb(186, 181, 171); }
.highlight .vc { color: rgb(127, 255, 255); }
.highlight .vg { color: rgb(127, 255, 255); }
.highlight .vi { color: rgb(127, 255, 255); }
.highlight .il { color: rgb(112, 255, 255); }
.icon > svg path { fill: rgb(186, 181, 171); }
.icon :hover { text-decoration-color: initial; }
amp-img { background-color: rgb(60, 64, 67); }
body { background-color: rgb(24, 26, 27); }
.site-header .page-links a { text-decoration-color: initial; color: rgb(186, 181, 171); }
.site-header .page-links a:hover { color: rgb(214, 211, 205); }
.blog-header .blog-title { outline-color: initial; color: rgb(214, 211, 205); }
.blog-header .blog-description { color: rgb(195, 191, 182); }
.content article { border-bottom-color: rgb(60, 60, 52); }
.content article:last-child { border-bottom-color: initial; }
.content article .post-title a { text-decoration-color: initial; color: rgb(214, 211, 205); }
.content article .post-title a:hover { text-decoration-color: initial; }
.content article .post-excerpt { color: rgb(195, 191, 182); }
.content article .post-meta { color: rgb(186, 181, 170); }
.content article .post-meta a { color: rgb(186, 181, 170); text-decoration-color: initial; }
.content article .post-meta a:hover { text-decoration-color: initial; }
.index-headline { border-top-color: rgb(60, 60, 57); }
.index-headline span { color: rgb(186, 181, 170); }
.pagination a { color: rgb(186, 181, 171); text-decoration-color: initial; }
.pagination a:hover { color: rgb(214, 211, 205); }
.site-footer { color: rgb(186, 181, 171); }
.site-footer a { color: rgb(195, 191, 182); text-decoration-color: initial; }
.site-footer a:hover { color: rgb(214, 211, 205); }
.post .post-title { color: rgb(214, 211, 205); }
.post .author-image { background-image: url("/public/images/g3rv4.jpg"); }
.post .post-meta-text { color: rgb(186, 181, 170); }
.post .post-content { color: rgb(214, 211, 205); }
.post .post-content table, .post .post-content th, .post .post-content td { border-color: rgb(102, 102, 102); }
.post .post-content p { color: rgb(214, 211, 205); }
.post .post-content a { color: rgb(214, 211, 205); text-decoration-color: initial; }
.post .post-content figcaption { color: rgb(195, 191, 182); outline-color: initial; }
.post .post-content hr { border-color: rgb(58, 58, 58); }
.post .post-content blockquote { border-left-color: rgb(56, 114, 67); }
.post .bottom-teaser hr { border-color: rgb(58, 58, 58); }
.post .bottom-teaser .isLeft a { color: rgb(232, 230, 227); text-decoration-color: initial; }
.post .bottom-teaser .isLeft a:hover { color: rgb(214, 211, 205); text-decoration-color: initial; }
.post .bottom-teaser .isLeft p.published { color: rgb(186, 181, 171); }
.post .bottom-teaser .isRight .site-footer { color: rgb(186, 181, 171); }
.post .bottom-teaser .isRight .site-footer a { color: rgb(214, 211, 205); text-decoration-color: initial; }
.post .bottom-teaser .isRight .site-footer a:hover { text-decoration-color: initial; }
.post .bottom-teaser .isRight .site-footer .poweredby { color: rgb(214, 211, 205); }
.share a { text-decoration-color: initial; color: rgb(194, 189, 180); }
.share a:hover { color: rgb(214, 211, 205); }
pre, code { border-color: rgb(56, 56, 56); background-color: rgb(29, 31, 32); }
pre > code { border-color: initial; }